In [7]:
import pandas as pd
import numpy as np

In [8]:
banking=pd.read_csv('bank-additional-full.csv',sep=';')

In [9]:
banking.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [10]:
banking.shape

(41188, 21)

In [ ]:
'age','duration','campaign','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed'

In [ ]:
'marital','education','default','housing','loan','contact','month','day_of_week','poutcome'

In [11]:
banking.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [12]:
banking['default'].unique()

array(['no', 'unknown', 'yes'], dtype=object)

In [13]:
##dummy=pd.DataFrame(np.where((banking=='unknown'),np.nan,banking),columns=banking.columns)

In [14]:
dummy.isna().sum()

NameError: name 'dummy' is not defined

In [ ]:
dummy.head()

In [ ]:
dummy['y'].value_counts()

In [ ]:
dummy[dummy.isna().any(axis=1)]

In [ ]:
dummy.describe()

In [ ]:
dummy.info()

In [ ]:
dummy[['age','previous']].corr()

In [ ]:
dummy.loc[dummy['default']=='yes']

In [ ]:
print('job:',dummy['job'].unique())
print('marital',dummy['marital'].unique())
print('education',dummy['education'].unique())
print('default',dummy['default'].unique())
print('housing',dummy['housing'].unique())
print('loan',dummy['loan'].unique())

In [ ]:
dummy.groupby(['education']).count()

Above are the 5 columns which needs processing

In [ ]:
###dummyjob=dummy.groupby(['job'])['education'].transform(lambda x:x.fillna(x.mode()))

# Encoding

In [25]:
banking_encoded=pd.get_dummies(banking[['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']])

In [26]:
banking_encoded.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [27]:
banking_encoded_df=pd.concat([banking_encoded,banking[['age','duration','campaign','previous','emp.var.rate','cons.price.idx','cons.conf.idx',
                                                       'euribor3m','nr.employed','y']]],axis=1)

# Logistic Model without any Preproessing of Unknown(Plain Vannila)

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [29]:
X=banking_encoded_df.drop(columns=['y'])

In [30]:
y=banking_encoded_df['y']

In [31]:
 X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=101)

In [34]:
X_train.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,age,duration,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
18897,0,0,0,0,0,0,0,0,0,1,...,0,33,68,1,0,1.4,93.444,-36.1,4.970,5228.1
25546,1,0,0,0,0,0,0,0,0,0,...,0,36,106,1,1,-0.1,93.200,-42.0,4.120,5195.8
16054,0,1,0,0,0,0,0,0,0,0,...,0,28,139,1,0,1.4,93.918,-42.7,4.961,5228.1
8799,0,0,0,1,0,0,0,0,0,0,...,0,50,86,1,0,1.4,94.465,-41.8,4.866,5228.1
28557,0,0,0,0,0,1,0,0,0,0,...,0,53,349,1,0,-1.8,93.075,-47.1,1.415,5099.1

In [35]:
lr=LogisticRegression()

In [36]:
lr.fit(X_train,y_train)

C:\Users\srika\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [37]:
predictions_LR=lr.predict(X_test)

In [39]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [41]:
print('accuracy:',accuracy_score(y_test,predictions_LR))
print('classification_report:',classification_report(y_test,predictions_LR))
print('confusion_matrix:',confusion_matrix(y_test,predictions_LR))

accuracy: 0.9057978051859765
classification_report:               precision    recall  f1-score   support

          no       0.92      0.97      0.95      9132
         yes       0.64      0.38      0.48      1165

    accuracy                           0.91     10297
   macro avg       0.78      0.68      0.71     10297
weighted avg       0.89      0.91      0.89     10297

confusion_matrix: [[8887  245]
 [ 725  440]]