In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
banking=pd.read_csv('featured_bank.csv')

In [3]:
banking.head()

,s.no,age,job,marital,education,default,housing,loan,contact,month,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,f.euribor,f.age,f.duration,f.pattern
0,1,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,1.1,93.994,-36.4,4.857,5191,no,>4,51_to_60,201_to_300,no
1,2,57,services,married,high.school,unknown,no,no,telephone,may,...,1.1,93.994,-36.4,4.857,5191,no,>4,51_to_60,101_to_200,no
2,3,37,services,married,high.school,no,yes,no,telephone,may,...,1.1,93.994,-36.4,4.857,5191,no,>4,31_to_40,201_to_300,no
3,4,40,admin.,married,basic.6y,no,no,no,telephone,may,...,1.1,93.994,-36.4,4.857,5191,no,>4,31_to_40,101_to_200,no
4,5,56,services,married,high.school,no,no,yes,telephone,may,...,1.1,93.994,-36.4,4.857,5191,no,>4,51_to_60,301_to_400,no

In [4]:
banking.shape

(41188, 26)

In [6]:
banking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   s.no            41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   default         41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
 8   contact         41188 non-null  object
 9   month           41188 non-null  object
 10  day_of_week     41188 non-null  object
 11  duration        41188 non-null  int64
 12  campaign        41188 non-null  int64
 13  pdays           41188 non-null  int64
 14  previous        41188 non-null  int64
 15  poutcome        41188 non-null  object
 16  emp.var.rate    41188 non-null  float64
 17  cons.price.idx  41188 non-null  float64
 18  cons.conf.idx   41188 non-null  float64
 19  euribor3m       41188 non-null  float64
 20  nr.employed     41188 non-null  int64
 21  y               41188 non-null  object
 22  f.euribor       41188 non-null  object
 23  f.age           41188 non-null  object
 24  f.duration      41188 non-null  object
 25  f.pattern       41188 non-null  object
dtypes: float64(4), int64(7), object(15)
memory usage: 8.2+ MB

# Encoding

In [7]:
banking_encoded=pd.get_dummies(banking[['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome','f.euribor','f.age','f.duration','f.pattern']])

In [8]:
banking_df=pd.concat([banking_encoded,banking[['campaign','previous','emp.var.rate','cons.price.idx','cons.conf.idx',
                                                       'nr.employed','y']]],axis=1)

In [45]:
banking_df_rem=pd.concat([banking_encoded,banking[['campaign','previous','cons.price.idx',
                                                      'y']]],axis=1)

In [9]:
banking_df.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,f.pattern_PE4F,f.pattern_PE4G,f.pattern_no,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,nr.employed,y
0,0,0,0,1,0,0,0,0,0,0,...,0,0,1,1,0,1.1,93.994,-36.4,5191,no
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,1,0,1.1,93.994,-36.4,5191,no
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,1,0,1.1,93.994,-36.4,5191,no
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1.1,93.994,-36.4,5191,no
4,0,0,0,0,0,0,0,1,0,0,...,0,0,1,1,0,1.1,93.994,-36.4,5191,no

# Logistic Model for the Featured Data Set

In [10]:
X=banking_df.drop(columns=['y'])

In [12]:
y=banking_df['y']

In [13]:
 X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=101)

In [14]:
X_train.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,f.pattern_PE4E,f.pattern_PE4F,f.pattern_PE4G,f.pattern_no,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,nr.employed
18897,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,1,0,1.4,93.444,-36.1,5228
25546,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,-0.1,93.200,-42.0,5196
16054,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1.4,93.918,-42.7,5228
8799,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,1,0,1.4,94.465,-41.8,5228
28557,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,-1.8,93.075,-47.1,5099

In [15]:
X_train.shape

(30891, 123)

In [68]:
y_train.value_counts()

no     27416
yes     3475
Name: y, dtype: int64

In [16]:
lrf=LogisticRegression()

In [17]:
lrf.fit(X_train,y_train)

C:\Users\srika\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [18]:
predictions_LRF=lrf.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [21]:
print('accuracy:\n',accuracy_score(y_test,predictions_LRF))
print('classification_report:\n',classification_report(y_test,predictions_LRF))
print('confusion_matrix:\n',confusion_matrix(y_test,predictions_LRF))

accuracy:
 0.8966689326988443
classification_report:
               precision    recall  f1-score   support

          no       0.91      0.98      0.94      9132
         yes       0.60      0.26      0.36      1165

    accuracy                           0.90     10297
   macro avg       0.76      0.62      0.65     10297
weighted avg       0.88      0.90      0.88     10297

confusion_matrix:
 [[8932  200]
 [ 864  301]]

# Decision Tree for Featured Model Data Set

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
dtf=DecisionTreeClassifier()

In [33]:
dtf.fit(X_train,y_train)

DecisionTreeClassifier()

In [35]:
predictions_dtf=dtf.predict(X_test)

In [36]:
print('accuracy:\n',accuracy_score(y_test,predictions_dtf))
print('classification_report:\n',classification_report(y_test,predictions_dtf))
print('confusion_matrix:\n',confusion_matrix(y_test,predictions_dtf))

accuracy:
 0.8863746722346314
classification_report:
               precision    recall  f1-score   support

          no       0.94      0.94      0.94      9132
         yes       0.50      0.49      0.50      1165

    accuracy                           0.89     10297
   macro avg       0.72      0.71      0.72     10297
weighted avg       0.89      0.89      0.89     10297

confusion_matrix:
 [[8553  579]
 [ 591  574]]

# Random Forest for Featured Model Data Set

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
rff=RandomForestClassifier()

In [39]:
rff.fit(X_train,y_train)

RandomForestClassifier()

In [42]:
predictions_rff=rff.predict(X_test)

In [43]:
print('accuracy:\n',accuracy_score(y_test,predictions_rff))
print('classification_report:\n',classification_report(y_test,predictions_rff))
print('confusion_matrix:\n',confusion_matrix(y_test,predictions_rff))

accuracy:
 0.9074487714868408
classification_report:
               precision    recall  f1-score   support

          no       0.93      0.97      0.95      9132
         yes       0.64      0.43      0.51      1165

    accuracy                           0.91     10297
   macro avg       0.78      0.70      0.73     10297
weighted avg       0.90      0.91      0.90     10297

confusion_matrix:
 [[8847  285]
 [ 668  497]]

# Models with few columns removed

In [50]:
X_rem=banking_df_rem.drop(columns=['y'])

In [51]:
y_rem=banking_df_rem['y']

In [52]:
 X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(
    X_rem, y_rem, test_size=0.25, random_state=101)

In [53]:
lrr=LogisticRegression()

In [54]:
lrr.fit( X_train_r,y_train_r)

C:\Users\srika\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [55]:
predictions_lrr=lrr.predict(X_test_r)

In [57]:
print('accuracy:\n',accuracy_score(y_test,predictions_lrr))
print('classification_report:\n',classification_report(y_test,predictions_lrr))
print('confusion_matrix:\n',confusion_matrix(y_test,predictions_lrr))

accuracy:
 0.9072545401573274
classification_report:
               precision    recall  f1-score   support

          no       0.93      0.97      0.95      9132
         yes       0.65      0.38      0.48      1165

    accuracy                           0.91     10297
   macro avg       0.79      0.68      0.72     10297
weighted avg       0.89      0.91      0.90     10297

confusion_matrix:
 [[8895  237]
 [ 718  447]]

In [58]:
dtr=DecisionTreeClassifier()

In [59]:
dtr.fit( X_train_r,y_train_r)

DecisionTreeClassifier()

In [61]:
predictions_dtr=dtr.predict(X_test_r)

In [62]:
print('accuracy:\n',accuracy_score(y_test,predictions_dtr))
print('classification_report:\n',classification_report(y_test,predictions_dtr))
print('confusion_matrix:\n',confusion_matrix(y_test,predictions_dtr))

accuracy:
 0.8899679518306303
classification_report:
               precision    recall  f1-score   support

          no       0.94      0.94      0.94      9132
         yes       0.51      0.53      0.52      1165

    accuracy                           0.89     10297
   macro avg       0.73      0.73      0.73     10297
weighted avg       0.89      0.89      0.89     10297

confusion_matrix:
 [[8550  582]
 [ 551  614]]

In [63]:
rfr=RandomForestClassifier()

In [64]:
rfr.fit( X_train_r,y_train_r)

RandomForestClassifier()

In [65]:
predictions_rfr=rfr.predict(X_test_r)

In [66]:
print('accuracy:\n',accuracy_score(y_test,predictions_rfr))
print('classification_report:\n',classification_report(y_test,predictions_rfr))
print('confusion_matrix:\n',confusion_matrix(y_test,predictions_rfr))

accuracy:
 0.9074487714868408
classification_report:
               precision    recall  f1-score   support

          no       0.93      0.97      0.95      9132
         yes       0.65      0.40      0.50      1165

    accuracy                           0.91     10297
   macro avg       0.79      0.69      0.72     10297
weighted avg       0.90      0.91      0.90     10297

confusion_matrix:
 [[8875  257]
 [ 696  469]]